/* Default styles */
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif sans-serif;
}

.heading {
    margin-bottom: 60px;
}

h1 {
    font-size: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

label {
    font-size: 1.5rem;
    
}

input {
    line-height: 1.8rem;
    width: 22em;
    border-radius: 0.25rem;
    margin-top: 1.3rem; 
    height:2.8em ;
    font-size: large;
  
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /*height: 100vh;*/
}

.formdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  /*  background: green; */
    height: 40%;
    width: 30%;
    margin-bottom: 9rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 60px;
    font-size: 1.2rem;
    background:black;
    font-style: normal;
    color: white; 
    width: 21.5em;       /* 1.5-12,1.6,0.25   1.2 -*/
    height: 3.0em;
    border-radius: 0.25rem;
    
}

p{
 margin-top: 2.2rem;  
 font-size: 1.2rem;
}


/* Media queries */
@media screen and (max-width: 768px) {
    /* Adjust heading margin for smaller screens */
    .heading {
        margin-bottom: 30px;
    }

    /* Adjust font size and padding for smaller screens */
    h1 {
        font-size: 1.5rem;
    }

    /* Adjust font size for smaller screens */
    label {
        font-size: 1rem;
    }

    /* Adjust height and width for smaller screens */
    .formdiv {
        height: 80%;
        width: 80%;
        margin-bottom: 2rem;
    }

    /* Adjust font size and margin for smaller screens */
    button {
        margin-top: 30px;
        font-size: 1rem;
        width: 20em;
    }

    input {
        line-height: 1.4rem;
        width: 17em;
        border-radius: 0.25rem;
        margin-top: 1rem; 
        height:2em ;
        font-size: large;
      
    }

    p{
        margin-top: ;  
        font-size: 0.8rem;
       }
       
}

